*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
a,p,span,h1,h2,h3{
    font-family: 'Noto Sans KR', sans-serif;
}
html,body{
    width: 100%;
    height: 100%;
}
body{
    overflow: hidden;
}
/*--------------background---------------------*/
#bgArea{
    width: 100%;
    height: 100%;
    background: #1d1a82;
    background: -moz-linear-gradient(-45deg,  #1d1a82 0%, #ff1511 100%);
    background: -webkit-linear-gradient(-45deg,  #1d1a82 0%,#ff1511 100%);
    background: linear-gradient(135deg,  #1d1a82 0%,#ff1511 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d1a82', endColorstr='#ff1511',GradientType=1 );
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: -1;
    opacity: 0;
}
#bgArea.sec3Bg{
    background: #e5c524;
background: -moz-linear-gradient(45deg,  #e5c524 0%, #c40909 100%);
background: -webkit-linear-gradient(45deg,  #e5c524 0%,#c40909 100%);
background: linear-gradient(45deg,  #e5c524 0%,#c40909 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5c524', endColorstr='#c40909',GradientType=1 );
    transition: all 1s ease;
}

/*------------------상단 타이틀-----------------------*/
.title{
    position: absolute;
    top: 100px;
    left: 100px;
    font-size: 30px;
    color: rgba(255,255,255,0.7);
    z-index: 10;
    
}
/*------------------------scroll---------------------*/
.scroll{
    width: 100px;
    height: 100px;
    position: fixed;
    bottom: 5%;
    left: 0;
    right: 0;
    margin: 0 auto;
    opacity: 0;
    display: flex;
    flex-flow: column;
    align-content: space-between;
    z-index: 10;
    
}
.scroll img{
    width: 40%;
    margin: 0 auto;
/*            opacity: 0;*/
}
.scroll span{
    color: white;
    font-size: 14px;
    width: 100%;
    text-align: center;
    height: 16px;
}

#section1,#section2,#section3,#section4{
    width: 100%;
    height: 100%;
    position: relative;
    box-sizing: border-box;
}


/*-----------section1-----------------*/

/*background animation*/
.txt{
    width: 0;
    height: 180px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
    background: #1d1a82;
    background: -moz-linear-gradient(-45deg,  #1d1a82 0%, #ff1511 100%);
    background: -webkit-linear-gradient(-45deg,  #1d1a82 0%,#ff1511 100%);
    background: linear-gradient(135deg,  #1d1a82 0%,#ff1511 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d1a82', endColorstr='#ff1511',GradientType=1 );

/*            border: 1px solid;*/
}
.txt .txt2{
    position: fixed;
    width: 100%;
    height: 200px;
    right: 0;
    top: 0px;
    bottom: 0;
    margin: auto;
    text-align: center;
    display: flex;
    flex-flow: column;
    align-content: center;
    justify-content: center;
    align-items: center;
/*    border: 1px solid white;*/
    z-index: 3;
}

/*portfolio text*/
#section1 p{
    line-height: 120px;
    font-size: 100px;
    font-weight: 700;
    display: block;
    margin: 0 auto;
    padding-top: 50px;
/*            opacity: 0;*/
    color: white;
/*    border: 1px solid black;*/
}
#section1 span{
    line-height: 150px;
    width: 500px;
    font-size: 16px;
    height: 50px;
    margin: 0;
    color: white;
/*    border: 1px solid;*/
}
#section1>img{
    width: 60%;
    height: auto;
    position: absolute;
    right: 0;
    top: 0;
/*    border: 1px solid white;*/
    opacity: 0;
    
}
/*----------------section2----------------------*/

/*---------------canvar css--------------------*/

#section2 #container2{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 300px;
    margin: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
/*    border: 1px solid white*/
}
#section2 .hourBox{
    position: relative;
    top: -43px;
    width: 37%;
    height: 300px;
    margin-left: 100px;
/*    margin: auto;*/
/*    border: 1px solid white;*/
}

#section2 .hourBox h1{
    position: absolute;
    top: 0;
    left: 185px;
    margin: auto;
/*    text-align: center;*/
    font-size: 120px;
/*    border: 1px solid white;*/
    color: rgba(255,255,255,0.9);
    text-align: center;
}
#section2 .hourBox h1 span{
    font-size: 40px;
}
#section2 .hourBox p{
    width: 85%;
    height: auto;
    text-align: left;
    color: rgba(255,255,255,0.6);
/*    border: 1px solid white;*/
    margin: 10px 0;
    font-size: 15px;
    font-weight: 100;
}
#section2 .hourBox a{
    width: 130px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    display: block;
    margin-top: 20px;
    color: rgba(255,255,255,0.6);
    font-size: 14px;
    font-weight: 600;
    border: 2px solid rgba(255,255,255,0.6);
    border-radius: 13px;
}
#section2 .hourBox a.active{
    color: rgba(0,0,0,0.6);
    background: rgba(255,255,255,0.8);
    border: 2px solid  rgba(255,255,255,0.6);
}
/*pill design*/
#section2 .pillBox{
    position: relative;
/*
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
*/
    width: 34%;
    height: 300px;
    display: flex;
    justify-content:center;
    box-sizing: border-box;
    padding: 0 100px;
/*    border: 1px solid white;*/
}
#section2 .pillBg{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #999;
    opacity: 0;
    border-radius: 20px;
}
#section2 .pillEach{
    width: 100px;
    height: 240px;
    position: relative;
/*
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
*/
    margin: 0 10px;
    display: flex;
    flex-flow: column;
    align-items:center;
    align-content: center;
/*            border: 1px solid red;*/
}

#section2 .pillMax{
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 60px;
    height: 200px;
    border-radius: 50px;
    background: lightgray;
    overflow: hidden;
/*    opacity: 0.8;*/
}
#section2 .pill{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0;
/*    background: white;*/
    background: #fc894b;
    background: -moz-linear-gradient(top,  #fc894b 0%, #f2d010 100%);
    background: -webkit-linear-gradient(top,  #fc894b 0%,#f2d010 100%);
    background: linear-gradient(to bottom,  #fc894b 0%,#f2d010 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc894b', endColorstr='#f2d010',GradientType=0 );

}
#section2 p{
    position: relative;
/*            z-index: 1;*/
    width: 60px;
    height: 20px;
    text-align: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
/*            border: 1px solid red;*/
}

#section2>img{
    width: 40%;
    height: auto;
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
/*    border: 1px solid white;*/
    opacity: 1;
    
}


/*------------팝업디자인---------------*/
#section2 #popup_bg{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    opacity: 0;
    display: none;
    z-index: 10;
}
        
#section2 #popup_bg #popup{
    width: 62%;
    height: 800px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: #ebebeb;
    padding: 30px 60px;
    box-sizing: border-box;
    overflow: auto;
    overflow-x: hidden;
}

#section2 #popup_bg #popup>span{
    width: 22px;
    height: 23px;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

#section2 #popup_bg #popup>h1{
    height: 44px;
    background: url(../images/popup_title_line.png) center center no-repeat;
    font-size: 24px;
    text-align: center;
    line-height: 44px;
    margin-top: 10px;
}

#section2 #popup_bg #popup #store_img{
    float: left;
    margin-left: 12px;
}
#section2 #popup_bg #popup #store_info{
    margin-left: 360px;
}
#section2 #popup_bg #popup #store_info h1{
    font-size: 24px;
    margin: 0;
}
#section2 #popup_bg #popup #store_info p{
    font-size: 14px;
    margin: 10px 0 15px;
}
#section2 #popup_bg #popup #store_info ul li{
    font-size: 14px;
    padding: 4px 0;
}
#section2 #popup_bg #popup #store_info ul li span{
    display: inline-block;
}
#section2 #popup_bg #popup #store_info ul li .store_tit{
    width: 80px;
    font-weight: bold;
}
#section2 #popup_bg #popup #store_info ul li:nth-child(4) .store_tit{
    vertical-align: top;
}
#section2 #popup_bg #popup #store_map{
    margin-top: 25px;
}
#section2 #popup .shake{
    text-align: center;
    margin: 20px auto;
}



/*--------------------section3-----------------------*/
#section3{
    display: flex;
    justify-content: space-between;
    align-items: center;
/*            background: url(images/instar01.png) center center no-repeat;*/
/*            filter: blur(3px);*/
/*            background-size: cover;*/
/*
    background: #e8c722;
background: -moz-linear-gradient(45deg,  #e8c722 0%, #e51010 72%);
background: -webkit-linear-gradient(45deg,  #e8c722 0%,#e51010 72%);
background: linear-gradient(45deg,  #e8c722 0%,#e51010 72%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8c722', endColorstr='#e51010',GradientType=1 );
*/

}
#section3 .part1{
    position: relative;
    width: 36%;
    height: 100%;
/*            border: 1px solid black;*/
}
#section3 .bgBox{
    width: 0;
    height: 100%;
    background: #999;
    opacity: 0.4;
    border-radius: 20px;
}
#section3 .workTxt{
    width: 80%;
    height: 500px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    box-sizing: border-box;
    padding: 50px;
    color: rgba(0,0,0,0.6);
/*            left: -700px;*/
    opacity: 0;
/*    border: 1px solid black;*/
/*    overflow: hidden;*/
}
#section3 .workTxt li{
/*    width: 100%;*/
    opacity: 0;
}
#section3 .workTxt li:first-child{
    opacity: 1;
}
#section3 .workTxt li h2{
    color: black;
    font-size: 50px;
    font-weight: bold;
}
#section3 .workTxt li p{
    width: 100%;
/*    border: 1px solid black;*/
    margin-top: 20px;
    display: block;
}
#section3 .workTxt li a{
    width: 130px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    display: block;
    margin-top: 20px;
    color: rgba(0,0,0,0.6);
    font-size: 14px;
    font-weight: 600;
    border: 2px solid rgba(0,0,0,0.6);
    border-radius: 13px;
}

#section3 .workTxt li a.active{
    color: rgba(255,255,255,0.8);
    background: rgba(0,0,0,0.6);
    border: 2px solid rgba(0,0,0,0.6);
}
#section3 .work1{
/*    display: none;*/
    opacity: 1;
}
#section3 .work2{
    display: none;
}
#section3 .work3{
    display: none;
}
#section3 .work4{
    display: none;
}
#section3 .part2{
    position: relative;
    width: 0;
    height: 0;
    margin-right: 4%;
}
#section3 .part2 .bgBox2{
    width: 100%;
    height: 100%;
    background: #999;
    opacity: 0.4;
/*            filter: blur(3px);*/
    border-radius: 20px;
}
#section3 .part2 .workList{
    width: 90%;
    height: 90%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
/*    border: 1px solid black;*/
    overflow: hidden;
}
#section3 .part2 li{
    width: 100%;
    height: 100%;
    position: absolute;
    margin: auto;
/*    border: 1px solid black;*/
}
#section3 .part2 img{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 90%;
}
#section3 .part2 li.active:before{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    position: absolute;
    z-index: 6;
    border: 1px solid black;
}
#section3 .part2 li a{
    width: 220px;
    height: 50px;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    padding-bottom: 10px;
    color: rgba(255,255,255,0.7);
    text-shadow: 0 3px 10px rgba(0,0,0,0.6);
    border-bottom: 1px solid rgba(255,255,255,0.7);
    z-index: 7;
}
#section3 .part2 li a.active{
    display: block;
}


/*-------------------------------popup-----------------------------------*/
#section3 #popup_bg{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
/*    filter: blur(3px);*/
    position: fixed;
    top: 0;
    opacity: 0;
    display: none;
    z-index: 10;
}
        
#section3 #popup_bg #popup{
    width: 95%;
    max-width: 1200px;
    max-height:  700px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background:white;
    overflow: auto;
}
#section3 #popup_bg #popup #popup_info{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 30px 60px;
    overflow: hidden;
    background: #62ae39;
}
#section3 #popup_bg #popup #popup_info .popup_info_txt{
    width: 35%;
/*    height: 700px;*/
    margin-top: 220px;
/*    border: 1px solid black;*/
    float: left;
    color: white;
}
#section3 .popup_info_txt h1{
    font-size: 40px;
    font-weight: bold;
}
#section3 .popup_info_txt p{
    margin-top: 15px;
}
#section3 #popup_bg #popup #popup_info>span{
    width: 22px;
    height: 23px;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    opacity: 0.4;
}
#section3 #popup_bg #popup #popup_info>span img{
    width: 100%;
}
#section3 #popup_bg #popup ul{
    width: 100%;
/*    border: 1px solid black;*/
}
#section3 #popup_bg #popup ul li{
    margin: 15px;
    float: left;
}
#section3 #popup_bg #popup ul li:first-child{
    margin-left: 0;
}
#section3 #popup_bg #popup ul a{
    clear: both;
    width: 130px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    display: block;
    margin-top: 20px;
    color: white;
    font-size: 14px;
    font-weight: 600;
    border: 2px solid white;
    border-radius: 13px;
    
}
#section3 #popup_bg #popup #work_img{
    width: 60%;
    height: auto;
    float: right;
} 
#section3 #popup_bg #popup #work_img img{
    width: 100%;
    margin-top: 100px;
    box-shadow: 0px 0px 30px rgba(0,0,0,0.7);
}


#section3 #popup_bg .detail_image{
    width: 80%;
    text-align: center;
    margin: 0 auto;
    padding-top: 100px;
}
#section3 #popup_bg .detail_image img{
    width: 100%;
    }

/*--------------------------section4-----------------------------*/
#section4{
/*    z-index: -2;*/
/*    background-color: blue;*/
}
#section4>img{
    position: absolute;
    top: -60px;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 40%;
/*    max6eight: 90%;*/
}
#section4 .contactWrap{
    width: 40%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
/*    align-items: center;*/
/*    align-content: center;*/
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 10%;
    margin: auto;
/*    border: 1px solid black;*/
}
#section4 .part{
    width: 100%;
    position: relative;
}
#section4 .part1{
    position: relative;
    width: 100%;
/*    height: 300px;*/
    height: 0;
    text-align: center;
}
#section4 .part2{
    position: relative;
    margin-top: 20px;
/*    height: 80px;*/
    height: 0;
/*    display: none;*/
/*    border: 1px solid white;*/
}
#section4 .part3{
    position: relative;
    margin-top: 20px;
    height: 0;
/*    height: 80px;*/
/*    display: none;*/
}
#section4 .bgBox{
    width: 100%;
    height: 100%;
    background: #999;
    opacity: 0.4;
    border-radius: 20px;
}
#section4 .workTxt{
    width: 100%;
    height: 80%;
    position: absolute;
    top: 10px;
    left: 0;
    margin: auto;
    display: flex;
    flex-flow: column;
/*    justify-content: center;*/
    box-sizing: border-box;
/*    padding: 50px;*/
    color: rgba(0,0,0,0.6);
/*            left: -700px;*/
/*    border: 1px solid black;*/
    overflow: hidden;
    text-align: left;
}
#section4 .workTxt li{
    height: 100%;
}
#section4 .workTxt li h2{
    margin: 20px 0 10px 20px;
    color: black;
    font-size: 20px;
    font-weight: bold;
}
#section4 .workTxt li h2 span{
/*    color: rgba(255,255,255,0.4);*/
    font-size: 20px;
    font-weight: bold;
}
#section4 .part1 ul li hr{
    width: 96%;
    border: 1px solid rgba(0,0,0,0.2);
    margin-left: 20px;
}
#section4 .workTxt li p{
    margin-left: 20px;
    width: 80%;
    color: rgba(0,0,0,0.6);
/*    font-weight: bold;*/
}
#section4 .part1 ul li p{
/*    margin: 20px 0 10px 20px;*/
    margin: 10% auto;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
}
#section4 .part2 p,
#section4 .part3 p{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
/*
#section4 .workTxt li p:nth-child(1){
    color: black;
    }
*/

#section4 .part2 .workTxt li p:nth-child(2),
#section4 .part3 .workTxt li p:nth-child(2){
    margin-top: 5px;
    color: black;
    }
#section4 .workTxt li p span{
    vertical-align: middle;
    margin-right: 10px;
}
#section4 .workTxt li p span img{
    width: 20px;
}
#section4 .footer{
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
}
#section4 .footer p{
    font-size: 14px;
    color: rgba(255,255,255,0.8);
}
